lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
lib
spec/expect
spec/coffee-out
spec/existing
spec/scaffold-out
actual.js
expected.js


npm-debug.log

!.gitignore
!.npmignore
!.bowerrc
!.travis.yml

